/* ===========
font import
-------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* ------------
global styles
================*/

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

/* ----------
header style
----------- */

/* navbar */

.container-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 78%;
    margin: 87px auto 50px;
}

.title-banner {
    font-size: 24px;
    font-weight: 700;
}

.nav-links {
    display: flex;
    column-gap: 34px;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 16px;
}
.nav-links i {
    font-size: 18px;
}

/* banner style */

.container-banner {
    display: flex;
    align-items: center;
    column-gap: 120px;
    width: 78%;
    height: 100%;
    margin: 0 auto;
}

.conatainer-banner-text {
    flex: 1;
}

.title-banner {
    font-size: 54px;
    font-weight: 700;
    line-height: 70px;
}

.container-img-banner {
    flex: 1;
    display: grid;
    place-items: center;
    background-image: url('images/Circle\ design.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

hr {
    width: 80%;
    margin: 0 auto;
}

.container-logo {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin:0 auto;
}

/* -----------
main section 
-------------*/

.container-collection {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}


/*------------------
 featured product
 ---------------  */

 .featured-product {
    display: flex;
    align-items: center;
 }

 /*---------------
  footer section
  -------------- */

